<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/../fragments/head :: head('Cadastrar Herói')}"></th:block>
<body>
  <th:block th:replace="~{/../fragments/head :: header}"></th:block>
  <div class="container">
    <h1>Cadastro de Heroi</h1>

    <form action="#" th:action="@{/heroi/save}" th:object="${heroi}" method="POST">

      <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{nome}" class="form-control" id="nome" name="nome">
          <p th:if="${#fields.hasErrors('nome')}" th:errorclass="text-danger" th:errors="*{nome}" />
        </div>
      </div>

      <div class="form-group row">
        <label for="vida" class="col-sm-2 col-form-label">Pontos de Vida</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{vida}" class="form-control" id="vida" name="vida">
          <p th:if="${#fields.hasErrors('vida')}" th:errorclass="text-danger" th:errors="*{vida}" />
        </div>
      </div>

      <div class="form-group row">
        <label for="defesa" class="col-sm-2 col-form-label">Pontos de Defesa</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{defesa}" class="form-control" id="defesa" name="defesa">
          <p th:if="${#fields.hasErrors('defesa')}" th:errorclass="text-danger" th:errors="*{defesa}" />
        </div>
      </div>

      <div class="form-group row">
        <label for="ataque" class="col-sm-2 col-form-label">Pontos de Ataque</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{ataque}" class="form-control" id="ataque" name="ataque">
          <p th:if="${#fields.hasErrors('ataque')}" th:errorclass="text-danger" th:errors="*{ataque}" />
        </div>
      </div>

      <div class="form-group row">
        <label for="universo" class="col-sm-2 col-form-label">Universo do Herói</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{universo}" class="form-control" id="universo" name="universo">
          <p th:if="${#fields.hasErrors('universo')}" th:errorclass="text-danger" th:errors="*{universo}" />
        </div>
      </div>

      <div class="form-group row">
        <label for="anoOrigem" class="col-sm-2 col-form-label">Ano de Origem</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{anoOrigem}" class="form-control" id="anoOrigem" name="anoOrigem">
          <p th:if="${#fields.hasErrors('anoOrigem')}" th:errorclass="text-danger" th:errors="*{anoOrigem}" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar Heroi</button>
    </form>

  </div>
  <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>
</html>